@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-thick {
    @apply w-80 h-20 md:w-[22rem] md:h-20 pl-6 font-bold bg-main-color-1 text-2xl uppercase rounded-2xl flex justify-start items-center btn-border select-none;
  }

  .btn-border {
    @apply cursor-pointer border-2 border-black hover:border-violet-800 transition-all ease-linear shadow-thick hover:shadow-thick-2;
  }
}

* {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
}

body {
  min-height: 100vh;
  background-color: #7945ff;
}

#app {
  min-height: 100vh;
  overflow-x: hidden;
}
